@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@100;400&display=swap');
.containerA{
    width: 350px;
    height: 450px;
    box-shadow: 0 10px 60px #00000030;
    margin: 0 auto;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cabeçalho{
    width: 350px;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part1{
    display: flex;
}
.circle{
    margin-left: 16px;
    margin-top: 14px;
    width: 40px;
	height: 40px;
	border-radius: 50%;
    text-align: center;
    background-color: orangered;
}
.circle h2{
    margin-top: 6px;
    margin-right: 1px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 14px;
}
.conta{
    margin-left: 8px;
}
.LC{
    margin-top: -8px;
    color: gray;
}
button{
    border: 0px;
    width: 40px;
	height: 40px;
    border-radius: 50%;
    margin-right: 6px;
    transition: background 0.3s;
    background-color: white;
}
button:hover{
    background: rgb(214, 212, 212);
    width: 40px;
}
.IMG-POST{
    width: 350px;
    height: 180px;
}
.Conteúdo-do-post{
    margin: 0 auto;
    padding: 8px;
    color: gray;
}
.txt-box{
    width: 350px;
    height: 96px;
    margin: 0 auto;
    margin-top: 0px;
    flex-wrap: wrap;
}
.icone-btn{
    margin-top: 3px;
}
.rodapé{
    width: 350;
    height: 50px;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botão-footer{
    margin-left: 6px;
}
.botão-footer2{
    margin-left: -6px;
}